html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.qcss-container {
  height: 100%;
}

.qcss-container > div {
  display: flex;
  height: 50%;
}

.qcss-panel {
  display: flex;
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .qcss-panel iframe { */
/*   border: none; */
/*   width: 100%; */
/*   height: 100%; */
/* } */